<nav>
  <ul id="nav">
    <span class="eight columns">
      <li><a [routerLink]="['']">Accueil</a></li>
      <li><a>A la carte</a></li>
      <li><a [routerLink]="['/form-pizza']">Création de pizza</a></li>
      <li><a [routerLink]="['/restaurant']">Restaurant</a></li>
      <li><a [routerLink]="['/contact']">Contact</a></li>
      <li><a [routerLink]="['/liste-pizzas']">Liste des pizzas</a></li>
    </span>
    <span class="four columns">
      <li><a>Se connecter</a></li>
      <li><a>S'incrire</a></li>
    </span>
  </ul>
  <br>

  <!--à mettre dans des if-->
  <!--<ul>
  <div><li><a>Accueil</a></li><li><a>A la carte</a></li><li><a>sur place</a></li></div>
  <div><li><a>Accueil</a></li><li><a>A la carte</a></li><li><a>à emporter</a></li></div>
  </ul>-->
</nav>

<link rel="stylesheet" href="header.component.scss">
