<nav>
  <ul id="nav">
    <span class="eight columns">
      <li><a [routerLink]="['']">Accueil</a></li>
      <li><a [routerLink]="['/liste-pizzas']">Liste des pizzas</a></li>
      <li><a [routerLink]="['/form-pizza']">Création de pizza</a></li>
      <li><a [routerLink]="['/restaurant']">Restaurant</a></li>
      <li><a [routerLink]="['/contact']">Contact</a></li>
    </span>
    <span class="four columns">
      <li><a [routerLink]="['/mon-compte']">Mes commandes</a></li>
      <li><a>Déconnexion</a></li>
    </span>
  </ul>
  <br>

</nav>
