.list-container {

  border-width: 0.5em;
  border-color: #B82D2A;
  border-style: outset;
  max-height: 80vh;
  overflow: scroll;
  background-color: #EBDAC3;
}

.pizza-container {

  border-width: 2px;
  border-color: #B82D2A;
  border-style: outset;
  height: 25em;
  width: 31%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  display: inline-block;
}

.pizza-container-name {
  padding-top: 1em;
  font-weight: bold;
  font-size: large;
  color: #B82D2A;

}

.pizza-img {
  width:13em;
  margin-top: 1.5em;
  margin-bottom: 3em;
  border-width: 2px;
  border-style: outset;
  border-color: #C21515;
}

.titre-page>p {
  margin: 1%;
  font-weight: bold;
  font-size: larger;
  color: #B82D2A;
}

.titre-page>button{margin: 1%;}
