<div class="list-container">
  <p class="titre-page">Liste des pizzas complète :</p>
  <ul>

    <div class="pizza-container" *ngFor="let pizza of pizzasSorted">
      <p class="row pizza-container-name offset-by-one eleven columns">{{pizza.name}}</p>
      <div clas="row">
        <div class="row five columns offset-by-one">
          <img src="../../assets/img/Pizzas/{{pizza.id}}.jpg" class="five columns pizza-img">
          <button class="button-primary"> Ajouter au panier </button>
        </div>

        <div class="five columns">
          <ol>Pâte {{pizza.crust.name}}, base {{pizza.sauce.name}}</ol>
          <ol><span *ngFor="let topping of pizza.toppingsList">
            {{topping.name}},
          </span>
          </ol>
        </div>


      </div>

    </div>

  </ul>
</div>


<button (click)="getAllPizzas()">getAllPizzas()</button>
<button (click)="getPizzaById(1)">getPizzaById(1)</button>
<button (click)="sortPizzas('Végétariennes')">Les végétariennes</button>
<button (click)="sortPizzas('Vegan')">Les veganes</button>
<button (click)="sortPizzas('Toutes')">Toutes nos pizzas</button>
