<div class="container">
  <h2>Contact</h2>
  <p>Nous contacter</p>
  <article>
    <form>
      <div class="row">
        <div class="six columns">
          <label for="firstname">Prénom : </label>
          <input class="u-full-width" type="text" placeholder="Prénom*" id="firstname" name="firstname" required>
        </div>
        <div class="six columns">
          <label for="firstname">Nom : </label>
          <input class="u-full-width" type="text" placeholder="Nom*" id="lastname" name="lastname" required>
        </div>
      </div>

      <div class="row">
        <div class="six columns">
          <label for="firstname">Courriel : </label>
          <input class="u-full-width" type="text" placeholder="Email*" id="email" name="email" required>
        </div>
        <div class="six columns">
          <label for="phonenumber">Numéro de téléphone : </label>
          <input class="u-full-width" type="text" placeholder="Téléphone*" id="phonenumber" name="phonenumber" required>
        </div>
      </div>

      <div class="u-full-width">
          <label for="message">Message : </label>
          <input class="message" type="textarea" placeholder="Message*" id="message" name="message" required>
      </div>

      <div class="row">
        <div class="one column">
          <input  type="checkbox" id="check-non-robot" required>
        </div>
        <div class="eleven columns">
          <label for="check-non-robot">Je ne suis pas un robot</label>
        </div>
      </div>

      <div>
        <button class="button">Annuler</button>
        <button class="button-primary">Envoyer</button>
      </div>

    </form>
  </article>

  <div>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries, but also the leap into
    electronic typesetting, remaining essentially unchanged. It was popularised
    in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
    and more recently with desktop publishing software like Aldus PageMaker including
    versions of Lorem Ipsum.
  </div>

</div>
