<h2>Contact</h2>

<article>
<form action="">
<p>Nous contacter</p>
  <div>
    <table>
      <tr>
        <td><input type="text" placeholder="Nom*"></td>
        <td><input type="text" placeholder="Prénom*"></td>
      </tr>
      <tr>
        <th><input type="email" placeholder="email*"></th>
        <th><input type="text" placeholder="téléphone"></th>
        <th></th>
      </tr>
    </table>

    <p><textarea placeholder="Message*"></textarea></p>

  <div>
      <label for="check-non-robot">Je ne suis pas un robot</label>
      <input type="checkbox" id="check-non-robot">
  </div>

    <input type="submit" value="Annuler">
    <input type="submit" value="Envoyer">
  </div>
</form>
</article>

<div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
  when an unknown printer took a galley of type and scrambled it to make a type
  specimen book. It has survived not only five centuries, but also the leap into
  electronic typesetting, remaining essentially unchanged. It was popularised
  in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
  and more recently with desktop publishing software like Aldus PageMaker including
  versions of Lorem Ipsum.</p></div>

<footer><a>Mentions Legales</a> | <a>Conditions générales de ventes</a></footer>
