<div class="container">

  <h3>Informations</h3>
  <hr>
  <article>
    <div class="six columns justified">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>
    <div class="six columns justified">
      It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more recently
      with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
  </article>

  <hr>

  <h3>Où nous trouver?</h3>
  <hr>
  <article>

    <div class="six columns justified">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>

    <div class="six columns">
      <a class="map" href="https://www.google.fr/maps/place/48%C2%B006'00.0%22N+1%C2%B042'00.0%22W/@48.0997647,-1.7011914,17.75z/data=!4m5!3m4!1s0x0:0xa0c68259e7def018!8m2!3d48.1!4d-1.7">
        <img class="u-max-full-width" src="../../assets/img/planEniPizza.png" alt=""></a>
    </div>

  </article>
</div>
<footer><a>Mentions Légales</a> | <a>Conditions générales de vente</a></footer>
<link rel="stylesheet" href="restaurant.component.scss">
