@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');



h1 {
  text-align: center;
  display-inline: block;
  margin-top: 250px;
  height: 400px;
  font-family: 'Pattaya', sans-serif;
  font-size: 8em;
}
